<app-header></app-header>

  <!-- end inner page banner -->
  <div class="section padding_layout_1">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="full">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main_heading text_align_center">
                  <h2>Prend un devis</h2>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 appointment_form">
                <div class="form_section">
                  
                    <fieldset class="row">

                      <div class="first">
                      <div class="row">
                        <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <input class="field_custom" placeholder="Numéro de tel" type="number"  [(ngModel)]="setTel" required>
                        </div>
                        <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <input class="field_custom" placeholder="Nom" type="text"  [(ngModel)]="name" required>
                        </div>
                      </div>
                    
                    </div>
                      <br>
                      <div class="second">
                      <form [formGroup]="formDevis">
                      <div class="row">
                        <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-6">
                          <input class="field_custom" placeholder="Largeur" type="number" formControlName="largeur" required>
                        </div>
                        <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-6">
                          <input class="field_custom" placeholder="hauteur" type="number" formControlName="hauteur" required>
                        </div>
                        <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-6">
                          <input class="field_custom" placeholder="quantité" type="number" formControlName="quantite" required>
                        </div>

                     
                     <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div class="form-group">
                            <textarea class="field_custom2" placeholder="Une description de votre besoin" name="description" formControlName="description" id="tt" rows="3"></textarea>
                          </div>                         
                        </div>
                      </div>
                   
                    <div class="center">
                      <button class="btn main_bt" (click)="send()">Prend un devis </button>
                    </div>

                  </form>
                </div>
                    </fieldset>
               
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-req></app-req>

  <!-- End Model search bar -->
<app-footer></app-footer>