textarea{
    color: #737373 !important;
    background: #f8f8f8;
    font-size: 14px;
    padding: 15px 20px;
    line-height: normal;
    border: solid #e1e1e1 1px;
    width: 100%;
}
form{
 //   background-color: #d1d1d1;
    display: inline-grid;
}

 .first {
    border: solid #cfcfcf 0.01px;
    padding: 15px 20px;
}
.second {
    border: solid #cfcfcf 0.01px;
    padding: 15px 20px;

}