<div class="container">
    <div class="card">
        <h5 class="card-header">Ajouter un nouvelle catégorie des produits</h5>
        <div class="card-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col col-lg-4 col-sm-4 col-md-4">
                            <label for="formGroupExampleInput">Nom de service</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Un nom pour votre servcie,technique,accessoir...">
                        </div>
                        <div class="col col-lg-8 col-sm-8 col-md-8">
                            <label for="formGroupExampleInput">Description</label>
                            <input type="text" class="form-control" formControlName="description" placeholder="Une description de service à ajouter">
                        </div>
                    </div>
                </form>
          <button href="#" class="btn btn-primary" (click)="newService()">Ajouter</button>
        </div>
      </div>
</div>
<br>
<br>
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categorie des produits</th>
            <th scope="col">exploiter</th>
            <th scope="col">mis a jour</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
           
          <tr *ngFor="let item of verre">
            <th scope="row"></th>
            <td>{{item.name}}</td>
            <td>
              <a routerLink="/dashboard/service/listProducts/{{item._id}}">
              <span class="badge badge-warning">Exploiter</span>
              </a>
            </td>
            <td>
                <a type="button" class="btn btn-info" routerLink="/dashboard/service/update/{{item._id}}" >
                    <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="delete(item._id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
