table button{
    border-radius: 50% !important;
    font-size: 23px !important;
    //width: 10px !important;   
    min-width: 50px !important;
    
}
.table .table-striped button:hover{
    background-color: rgb(172, 34, 34);
}
table a {
    border-radius: 50% !important;
    font-size: 23px !important;
    //width: 10px !important;   
    min-width: 50px !important;
}
.card .btn{
    float: right;
    border-radius: 2%;
} 