
    <div class="container">
        <div class="row">
         <div *ngFor="let item of res">
          
            <div class="col-4">
          <div class="card " style="width: 18rem;">
            <img src="{{item.photo}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <button type="button" class="btn btn-info btn-sm">Mis à jour</button>
              <button type="button" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
      </div> 
  
      </div>
      </div>
  
  