<div class="area">
    Welcome,  {{id}}  
    <router-outlet></router-outlet>
</div>
<nav class="main-menu">
            <ul>
                <li>
                    <a routerLink="/dashboard">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a routerLink="/dashboard/addProduct">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <span class="nav-text">
                            Ajouter un produit 
                        </span>
                    </a>
                </li>

                <li class="has-subnav">
                    <a routerLink="/dashboard/addTechnic">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <span class="nav-text">
                            Ajouter un service 
                        </span>
                    </a>
                    
                </li>
              
                <li class="has-subnav">
                    <a routerLink="/dashboard/service">
                       <i class="fa fal fa-qrcode fa-2x"></i>
                        <span class="nav-text">
                            Catégorie des produits
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/dashboard/services">
                       <i class="fa fal fa-qrcode fa-2x"></i>
                        <span class="nav-text">
                            Catégorie des servicess
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a routerLink="/dashboard/messageList">
                        <i class="fa fa-envelope"></i>
                        <span class="nav-text">
                           List des messages 
                        </span>
                    </a>
                </li>
                <li>
                   <a routerLink="/dashboard/addGallery">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Ajouter gallegie
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/ListGallery">
                        <i class="fa fa-table fa-2x"></i>
                         <span class="nav-text">
                             Voir gallerie
                         </span>
                     </a>
                 </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Devis
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="javascript:void(0);" (click)="logout()">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
       